## Dataset

In [1]:
import time
import random as rd
import csv

In [4]:
def crea_dataset():
    column_names=['server_id', 'application_id', 'start_timestamp']
    server_list = [x for x in range(1,11)]
    application_list = ['app'+ str(x)  for x in range(1,101)]
    data=[]
    data.append(column_names)
    for i in range(1000):
        raw=[i,rd.choice(server_list),rd.choice(application_list), time.time()]
        data.append(raw)
    with open('dataset.csv', 'w') as f:
        writer = csv.writer(f)
        writer.writerows(data)
    return data

In [5]:
crea_dataset();

## Analysis

In [6]:
import numpy as np
import pandas as pd

In [7]:
df= pd.DataFrame.from_csv('dataset.csv')

In [8]:
df.head()

   server_id application_id  start_timestamp
0          8          app98     1.508252e+09
1          7          app61     1.508252e+09
2          1          app16     1.508252e+09
3          3          app54     1.508252e+09
4          6          app17     1.508252e+09

In [20]:
df.columns

Index(['server_id', 'application_id', 'start_timestamp'], dtype='object')

In [22]:
df['server_id'][:11]

0     8
1     7
2     1
3     3
4     6
5     4
6     6
7     8
8     2
9     5
10    6
Name: server_id, dtype: int64

In [23]:
df.duplicated('server_id');

In [ ]:
for index, row in df.iterrows():